[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
matplotlib = "*"
requests = "*"
gunicorn = "*"
pillow = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
