<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <body class="w3-content" style="max-width:1200px">
        <div class="w3-row">
        <div class="w3-half w3-container w3-xlarge w3-text-grey">
            {% load static %}
            {% block title %}
            Login
            {% endblock title %}
            {% block content %}
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            {% endblock content %}
        </div>
    </body>
</html>

