<!-- templates/createhive.html -->
{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.min.css' %}">


{% block title %}
Create Hive
{% endblock title %}

{% block content %}
<h2>Create Hive</h2>
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Create Hive</button>
</form>
{% endblock content %}
