{% load static %}
<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Beekeep</title>
  <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="css" href="{% static 'home/css/bootstrap.min.css' %}">
  <meta charset="UTF-8">
</head>
    <div>
        <div class="topnav">
            <a href="{% url 'home' %}">Beekeep</a>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Weather</a>
            <a href="{% url 'viewhive' %}">Data Visulazation </a>
            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
            
        </div>
        </br>

        <body class="w3-content" style="max-width:1200px" >
            <!-- First Grid: Logo & About -->
            <div class="w3-row" >
                <main class="w3-half w3-container w3-xlarge w3-text-grey" >
                    {% if user.is_authenticated %}
                    Hi {{ user.username}}!
                    <p><a href="{% url 'logout' %}">logout</a></p>
                    {% else %}
                    <p>You are not logged in!</p>
                    <a href="{% url 'login' %}">login</a>
                    <a href="{% url 'signup' %}">signup</a>
                    {% endif %}
                </main>

            </div>
        </body>
    </div>
</html>

