<!-- templates/viewhive.html -->
{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.min.css' %}">

{% block title %}
<title>Beekeep</title>
{% endblock title %}

{% block content %}
    <div class="row">
      <p> Hive Name: {{ hive_name }} </p>
      <p> Creation date: {{ creation_date }} </p>
      <p> Timeline Events: </p>
      {% for entry in entries %}
        <p>
          <a href="{% url 'viewtimelineentry' username pk entry.pk%}">{{ entry }}</a>
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
    </div>
    <div style="" class="button-box" >

    <a class="btn btn-primary" href="{% url 'viewhives' username%}">Return</a>
    <a class="btn btn-primary" href="{% url 'deletehive' username pk%}">Delete</a>
    <a class="btn btn-primary" href="{% url 'edithive' username pk%}">Edit</a>
    <a class="btn btn-primary" href="{% url 'addtimelineentry' username pk%}">Add Timeline Event</a>
    <a class="btn btn-primary" href="{% url 'createhivecsv' username pk%}">Export as CSV</a>
    </div>
    <br>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'graphdata' username pk 'brood_cells'%}">Graph Brood Cells</a>
      <a class="btn btn-primary" href="{% url 'graphdata' username pk 'honey_racks'%}">Graph Honey Racks</a>
      <a class="btn btn-primary" href="{% url 'graphdata' username pk 'hive_size'%}">Graph Hive Size</a>
      <a class="btn btn-primary" href="{% url 'graphdata' username pk 'queen_spotted'%}">Graph Queen Spotted</a>
      <a class="btn btn-primary" href="{% url 'graphdata' username pk 'pests_disease'%}">Graph Pests/Disease</a>
      <a class="btn btn-primary" href="{% url 'graphdata' username pk 'plant_life'%}">Graph Plant Life</a>
    </div>
{% endblock content %}
