<!-- templates/viewtimelineevent.html -->
{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.min.css' %}">

{% block title %}
<title>Beekeep</title>
{% endblock title %}

{% block content %}
    <div class="row">
      <p> Hive Name: {{ hive_name }} </p>
      <p> Timeline Date: {{ timeline_date }} </p>
      <p> Temperature: {{ temperature }} </p>
      <p> Brood Cells: {{ brood_cells }} </p>
      <p> Honey Racks: {{ honey_racks }} </p>
      <p> Hive Size: {{ hive_size }} </p>
      <p> Queen Spotted: {{ queen_spotted }} </p>
      <p> Pests/Disease: {{ pests_disease }} </p>
      <p> Plant Life: {{ plant_life }} </p>
    </div>
    <div style="" class="button-box" >

    <a class="btn btn-primary" href="{% url 'viewhive' username hive_pk%}">Return</a>
    <a class="btn btn-primary" href="{% url 'deleteevent' username hive_pk timeline_pk%}">Delete</a>
    <a class="btn btn-primary" href="{% url 'editevent' username hive_pk timeline_pk%}">Edit</a>
    <a class="btn btn-primary" href="{% url 'uploadimage' username hive_pk timeline_pk%}">Upload Image</a>
    <a class="btn btn-primary" href="{% url 'viewimages' username hive_pk timeline_pk%}">View Images</a>

    </div>
{% endblock content %}
