<!-- templates/viewhives.html -->
{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.min.css' %}">

{%block title %}
<title>Beekeep</title>
{% endblock title %}

{% block content %}
      {% for field in hives %}
        <p>
          <a href="/hives/{{ username }}/{{ field.pk }}">{{ field }}</a>
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
    </div>
    <div style="" class="button-box" >

    <a class="btn btn-primary" href="{% url 'createhive' username%}">Create Hive</a>
{% endblock content %}
